@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300&display=swap');

@mixin container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
body{
    @include container;
    width:100%;
    height:100vh;
    background-color:#030226;
    #container{
        @include container;
        flex-direction: row;
        justify-content: space-around;
        width:25%;
        height:50%;
        margin: 15rem auto;
        padding: 0.5rem;
        border-radius: 2rem;
        background-color:#F23869;
        box-shadow: 0 0 2rem #F23869;
        #show-count{
            @include container;
            #show-points{
                width:90%;
                height:5vh;
                margin-top: 2rem;
            }
        }
        .counts{
            @include container;
            justify-content: center;
            border: solid 0.1rem #d8889d;
            border-radius: 2rem;;
            width: 40%;
            height: 80%;
        }
        #puts{
            #put-result{
                border-style:none;
                text-align: center;
                background-color:#eb6286;
                width:70%;
                height:1.5rem;
                border-radius:2rem;
            }
            h4{
                color:#e7849f;
                margin-top: 1rem;
            }
            #btn-sub{
                margin-top: 1rem;
                width:70%;
            }
            .buttons{
                @include container;
                flex-direction: row;
                .btn-type{
                    width:2.5rem;
                    height:3vh;
                    margin:0.2rem;
                    border-style: none;
                    background-color: #3621BF;
                    box-shadow: 0 0 0.5rem #3621BF;
                    color: pink;
                    transition: 0.2s;
                    border-radius:0.5rem;
                }
                .btn-type:hover{
                    background-color:#91fdc7;
                    box-shadow: 0 0 0.2rem #8efcc5;
                    cursor:pointer;
                    transition: 0.2s;
                    color:black;
                }
            }
        }
        .button-inde{
            border-style: none;
            height:1.5rem;
            border-radius:2rem;
            text-transform: uppercase;
            background-color: #3621BF;
            box-shadow: 0 0 0.5rem #3621BF;
            color: pink;
            cursor:pointer;
            transition: 0.2s;
        }
        .button-inde:hover{
            background-color:#91fdc7;
            box-shadow: 0 0 0.2rem #8efcc5;
            cursor:pointer;
            transition: 0.2s;
            color:black;
        }
        #btn-reset{
            margin-top: 1rem;
            width:70%;
        }
        #btn-next{
            margin-top: 1rem;
            width:70%;
        }
    } 
}